# principal
fastapi
beautifulsoup4
requests
uvicorn
httpx
tenacity

# debugging
ipython
pdbpp

# database
sqlalchemy[asyncio]
asyncpg
alembic

#auth
python-jose
pyjwt
cryptography
pydantic_settings
jwcrypto